/* styles.css */
/* Estilizando o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  /* Estilizando os elementos do formulário */
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 10px;
  }
  
  .btn-primary {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  /* Estilizando as mensagens de ajuda */
  .form-text {
    color: #6c757d;
  }

/* Estilo da tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Estilo das células de cabeçalho */
  .table th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  /* Estilo das células da tabela */
  .table td {
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
  }
  
  /* Realce de linha ao passar o mouse */
  .table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Estilo para links dentro da tabela */
  .table a {
    color: #3498db;
    text-decoration: none;
  }
  
  /* Estilo para botões dentro da tabela */
  .table .btn {
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
  }